extends layout

block content
  form#login(method="post",action="")
    h1= title
    label(for='email') E-Mail
    input#email(name='email', placeholder='email', value='')
    label(for='password') Password
    input#pwd(name='password', placeholder='Password', value='', type='password')
    input#send(type='submit', value='Log In')

