doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu-top
      -if(typeof user != "undefined"){
        span Bienvenido #{user.nombre} 
        a(href="/logout") Salir
      -}
    block content
