extends layout

block content
  h1= title
  //p #{JSON.stringify(obj)}
  form(action="",method="post")
    label(for='nombre') Nombre
    input#nombre(name='nombre',value="")
    
    input(type='submit', value='Guardar', data-mini='true',data-theme="b")
